body {
  padding-top: 40px;
}
.container,
.navbar-static-top .container,
.navbar-fixed-top .container,
.navbar-fixed-bottom .container {
  width: 80%;
}
#background {
  background-image: url("../img/pacers.jpg");
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  z-index: 0;
}
#background:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  /* background: #002d62; */
  /* background: #252a31; */
  background: black;
  z-index: -1;
  opacity: 0.85;
}
.page-header {
  border-bottom: 1px solid #fdbb30;
}

.well {
  opacity: 0.5;
}

.form-control {
  width: 100%;
}

#fields_with_errors{
  color: red;
  font-weight: bold;
}

#postentry{
  color: black;
}